@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

.main-container {
  background-color: #f8f5ef;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgb(139, 138, 138);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 37px;
  padding-bottom: 40px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}

#per-tarot-card-1 {
  max-width: 125px;
  border-radius: 7px;
  box-shadow: 0 3px 12px 3px rgb(88, 88, 88);
}

.tarot-card {
  border-radius: 7px;
  max-width: 125px;
}

#divider {
  border-width: 4px;
  border-color: #8f744b;
}

#per-card {
  text-align: center;
  margin-top: 45px;
}

#per-tarot-card {
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 12px 12px 3px rgb(88, 88, 88);
  margin-top: 20px;
}

p {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

body {
  background-color: #0a2722;
}

#ch2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

#per-one {
  text-align: left;
  margin-top: 65px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-left: 35px;
  padding-right: 35px;
}

.modal-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-style: solid;
  border-color: #b89662;
  border-width: 5px;
  border-radius: 12px;
}

.modal-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
}

.form-label {
  margin-top: 20px;
}

#submit {
  margin-top: 27px;
  line-height: 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #0a2722;
  color: #f8f5ef;
  box-shadow: 5px 5px 10px rgb(139, 138, 138);
  border: 0;
}

.container-for-button {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#button {
  text-align: center;
  background-color: #0a2722;
  color: #f8f5ef;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  width: 450px;
  box-shadow: 5px 5px 10px rgb(139, 138, 138);
}

#button-bottom-text {
  text-align: center;
}

.btn-close {
  margin-right: -30px;
}

#lh {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  color: #472f85;
}

#bt {
  font-family: "Poppins", sans-serif;
  width: 100%;
  line-height: 80px;
  border-radius: 7px;
  font-size: 35px;
  font-weight: 900px;
  background-color: #ffb300;
  border: 0;
  margin-top: 15px;
  box-shadow: 5px 5px 10px rgb(139, 138, 138);
}

.highlight {
  background-color: #ffe09a;
  border-radius: 4px;
}

.lh {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  color: #472f85;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust alpha value for dimming effect */
  pointer-events: none; /* Allows clicks to pass through */
}

#theimg {
  width: 440px;
  border-radius: 4px;
  box-shadow: 0 3px 12px 3px rgba(88, 88, 88, 0.435);
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px); /* Start slightly lower */
  transition: opacity 1s ease-in, transform 1.25s ease-in; /*transform 1s ease-in; /* Smooth transition */
}

.fade-in-up.show {
  opacity: 1;
  transform: translateY(0); /* End at the original position */
}

#bottom {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  width: 500px;
  line-height: 18px;
}

#heart {
  position: fixed;
  animation: shimmer 1.3s infinite alternate;
}

#heart1 {
  width: 30%;
  height: 30%;
  margin-bottom: -23px;
}

#loading-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  margin-left: 20px;
}

@keyframes shimmer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    bopacity: 1;
  }
}
